.header {
    width: 1000px;
}

h1 {
    margin: 20px;
    font-size: 20px;   
}

ul {    
    padding-left: 0;
    text-align: right;
}

li {
    list-style: none;
    display: inline;
}

.main {
    width: 1000px;
    height: 400px;
    margin-top: 200px;
    margin-left: 700px;
}

.main__img {
    width: 1000px;
    height: 400px;
}

.main__img img {
    width: 80%;
    text-align: right;
}

.p {
   font-size: 60px;
}

.box {
    width: 1000px;
    height: 150px;
    background-color: blue;
}