@media screen and (min-width:480px) {}

html,
body {
    overflow: hidden
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    margin-top: 20px;
}

.header-nav-list {
    display: flex;
}

.header-nav-item {
    margin: 15px;
}

.header-nav-item-link {
    text-decoration: none;
}

.primary {
    font-size: 30px;
    color: darkblue;
    margin-top: 20px;
    margin-left: 20px;
    
}

.main {
    width: 1000px;
    height: 400px;
    margin-top: 200px;
    margin-left: 700px;
}

.main__img {
    width: 1000px;
    height: 400px;
}

.main__img img {
    width: 80%;
    text-align: right;
}

.p {
   font-size: 60px;
}

.box {
    width: 1000px;
    height: 150px;
    background-color: blue;
}